.cards-agents{
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  margin: 2rem auto;
}

.agents-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.agents-title{
  text-align: center;
}

.agents-p{
  text-align: center;
}