.contact-container{
  background-color: #EFFDF5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 auto;
}

.contact-card{
  background-color: #F7F7F7;
  padding: 1rem;
  border-radius: 5px;
  border: thin dashed rgb(0, 185, 142);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.agent-image{
  width: 100%;
  height: auto;
}

.contact-info{
  margin: auto;
}

.contact-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.call-button{
  background-color: rgb(0, 185, 142);
  color: white;
  display: flex;
  
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.appointment-button{
  background-color: rgb(14, 46, 80);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (max-width:1024px) {
  
  .contact-card{
    grid-template-columns: repeat(1,1fr);
  }
}