.container-list-propiedad{
  margin: 3rem auto;
}

.list-button-filter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-button-filter>*{
  margin: 0.5rem 1rem;
}

.list-filtro-propiedades{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 20px;
  
}

.list-filtro-propiedades > *{
  margin: 1rem auto;
}
