.testimonio-slider {
  
  width: 80%;
  background-color: #EFFDF5;
  padding: 1rem;
  display: flex;
}


.testimonio-slide {
  background-color: white;
  border: thin dashed rgb(0, 185, 142);
  margin: 0 auto;
}

.testimonio-slides{
  display: grid !important;

}

.testimonio-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.flex{
  display: flex;
}

.flex img{
  width: 100%;
  /*max-width: 70px;*/
}


.textimonio-nombre{
  color: rgb(14, 46, 80);
}

.textimonio-profesion{
  color: #7d8b8b;
}

/*
.testimonio-btns a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: rgb(0, 185, 142);
  color: white;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonio-slider a:hover {
  background-color: rgb(14, 46, 80);
}

.testimonio-btns {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);  Centra los botones verticalmente 
}
*/
.testimonio-btns .next {
  margin-left: auto; /* Mueve el botón "next" a la derecha */
}

.testimonio-btns .prev {
  margin-right: auto; /* Mueve el botón "prev" a la izquierda */
}
