.contain-filter{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(0, 185, 142);
  padding: 1rem;
  justify-content: center;
}

.contain-filter>*{
  margin: 0.5rem;
}

.contain-filter #submit{
  padding: 1rem;
  background-color: rgb(14, 46, 80);
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

#submit{
  cursor: pointer;
}